hr {
    color: grey
  }
  body{
    background: #103d5e;;
    padding: 0;
    min-width: 95vw;
    max-width: 100%;
    min-height: 98.7vh;
    max-height: 100%;
  }
  
  .wrapper {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 13%);
    padding: 0px 30px;
    padding-top: 32px;
    border-radius: 0.8rem;
  }
  
  .wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #005A5D;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 200px;
     color: #000000;
     margin-right: 10px;
    font-size: 17px;
    font-weight: 550;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 18px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  
  
  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #005A5D;
  }
  
  .wrapper .form .inputfield p{
     font-size: 14px;
     color: #757575;
  }
  .wrapper .form .inputfield .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .wrapper .form .inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #005A5D;
    display: block;
    position: relative;
  }
  .wrapper .form .inputfield .check .checkmark:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 1px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
  }
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #005A5D;
  }
  
  .wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
  }
  
  .wrapper .form .inputfield .btn{
    width: 100%;
     padding: 8px 10px;
    font-size: 20px; 
    border: 0px;
    background:  #005A5D;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #005A5D;
  }
  
  .wrapper .form .inputfield:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width:420px) {
    .wrapper .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .wrapper .form .inputfield label{
      margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
      flex-direction: row;
    }
  }
  
  .seccion-perfil-usuario .perfil-usuario-body,
  .seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .seccion-perfil-usuario
  {
    margin-top: -3rem;
  }
  
  .seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 100%;
    height: 7rem;
    border-radius: 0 0 20px 20px;
  }
  
  .seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border: 7px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    transform: translateX(-50%) translateY(-5%);
    z-index: 1;
  }
  
  .seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 89px;
    height: 89px;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  .seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
  }
  
  .seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
  }
  
  .seccion-perfil-usuario .perfil-usuario-footer,
  .seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
  }
  
  .seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
  .seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
  }
  
  .seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
  }
  
  .seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  
  .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
  }
  
  .seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
  }
  
  .seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
  }
  
  .seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
  }
  
  /* adactacion a dispositivos */
  @media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }
  
    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
  
    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }
  
    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
  }
  
  .icon
  {
    color: #005A5D;
  }