.img-fluid {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .img-fluid {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.card-body{
    border-color: black;
}

.modal-header {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #C3C7C9;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.div
{
text-align: center;
}

.container{
   max-width: 1200px;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 3fr));
   gap:1rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,1,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
}

.container .products-container .product:hover{
   outline: .2rem solid #003474;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 25rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

.form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
.form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: black;
   background-color: #eceded;
}

.form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #003474;
	color: white;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}

hr
{
	color: grey
}

.contenedor
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    height: auto;
    padding: 0 20px;
    background-color: #1cc88a;
    border-radius: 4px;
}

.contenedor-perfil
{
    display: flex;
    width: 800px;
    height: auto;
    background-color: #003474;
    border-radius: 2px;
}

.descripcion
{
   text-align: center;
   background-color: #003474;
}

.encabezado, .descripcion
{
    padding: 20px;
    text-align: center;
}

.descripcion
{
    position: relative;
}

.descripcion .count-container 
{
    -webkit-box-flex: 1;
    -ms-flex: 1 7 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}
  
.descripcion .count-container .box 
{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;
    padding: auto 0.5rem;
    border-radius: .5rem;
    background: #EFFEFF;
}

.descripcion .count-container .box h3 
{
   text-align: center;
    font-size: 1.2rem;
    color: #000000;
}
  
.descripcion .count-container .box p 
{
    font-size: 1.2rem;
    color: #000000;
}

.box p
{
   padding-top: 15px;
}

.box h3
{
   padding-top: 15px;
}

.btn-success 
{
   color: #fff;
   border-color: #1cc88a;
 }
 
 .btn-success:hover {
   color: #fff;
   border-color: #169b6b;
 }
 
 .btn-success:focus, .btn-success.focus {
   color: #fff;
   border-color: #169b6b;
   box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
 }
 
 .btn-success.disabled, .btn-success:disabled {
   color: #fff;
   border-color: #1cc88a;
 }
 
 .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
 .show > .btn-success.dropdown-toggle {
   color: #fff;
   border-color: #149063;
 }
 
 .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
 .show > .btn-success.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
 }
 
 .btn-outline-success 
 {
   color: #1cc88a;
   border-color: #1cc88a;
 }
 
 .btn-outline-success:hover {
   color: #fff;
   border-color: #1cc88a;
 }
 
 .btn-outline-success:focus, .btn-outline-success.focus {
   box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
 }
 
 .btn-outline-success.disabled, .btn-outline-success:disabled {
   color: #1cc88a;
   background-color: transparent;
 }
 
 .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
 .show > .btn-outline-success.dropdown-toggle {
   color: #fff;
   border-color: #1cc88a;
 }
 
 .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
 .show > .btn-outline-success.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(28, 200, 138, 0.5);
 }
 
 .btn-icon-split {
   padding: 0;
   overflow: hidden;
   align-items: stretch;
   margin-right: 1rem ;
   margin-left: 1rem;
 }
 
 .btn-icon-split .icon {
   background: rgba(0, 0, 0, 0.15);
   display: inline-block;
   padding: 0.375rem 0.75rem;
 }
 
 .btn-icon-split .text {
   display: inline-block;
   padding: 0.375rem 0.75rem;
 }
 
 .btn-icon-split.btn-sm .icon, .btn-group-sm > .btn-icon-split.btn .icon {
   padding: 0.25rem 0.5rem;
 }
 
 .btn-icon-split.btn-sm .text, .btn-group-sm > .btn-icon-split.btn .text {
   padding: 0.25rem 0.5rem;
 }
 
 .btn-icon-split.btn-lg .icon, .btn-group-lg > .btn-icon-split.btn .icon {
   padding: 0.5rem 1rem;
 }
 
 .btn-icon-split.btn-lg .text, .btn-group-lg > .btn-icon-split.btn .text {
   padding: 0.5rem 1rem;
 }

 
.form-input-table {
   display: flex;
    align-items: right;
    height: 36px;
   margin: -4rem 2.5% 0 65%;
 }
 .form-input-table .input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 7%;
    color: black;
    background-color: #eceded;
 }
 
 .form-input-table .button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003474;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
 }

.colorTable
{
  color: #003474;
}
input{
   height: auto;
   background-color:#c2ffdc;
   background-size: auto;
}


th
{
  cursor: pointer;
}

.text-gray-400 
{
  color: #d1d3e2 !important;
}

.arrowsTable
{
  margin-left: 30%;
}

.closeFilter
{
  color: black;
  margin-right: 2%;
  cursor: pointer;
  height: 100%;
}

.closeFilter:hover
{
  color: #dc3545;
}

.cursor
{
  user-select: none;
  cursor: pointer;
}

.drop
{
  border-radius: 36px 0 0 36px;
  height: 100%;
  background-color: #003474;
  color: white;
}

.drop:focus
{
  border-radius: 36px 0 0 36px;
  height: 100%;
  background-color: #034290;
  border-color: #003474;
  box-shadow: 0 0 0 0.2rem #003474;
}
 
.drop:active {
  border-color: #003474;
  box-shadow: 0 0 0 0.2rem #003474;
}